/*Básico*/
body{
	background:linear-gradient(to bottom right, #CC6558 20%, #000 200% );
	overflow-x:hidden;
	}

::-webkit-scrollbar{
	display:none;
	}

/*Nav*/
#nav {
	background:linear-gradient(to right bottom, #CC6558 10%, #000 350% );
	}

#icon {
	margin-right:7px;
	}

.nav-link {
	color:black;
	}

.nav-link:hover {
	color:#3D3C4D;
	background:brown;
	}

#nav-mobile{
	background:linear-gradient(to bottom right, #CC6558 10%, #000 430%);
	}

#nav-mobile:hover{
	background:linear-gradient(to bottom right, #CC6558 10%, #000 600%);
	}

#icon-mobile{
	margin-bottom:15px;
	}

#menu-mobile{
	text-align:center;
	}

/*carousel*/
#carousel{
	box-shadow: 0em 0 0.7em black;
	margin-bottom:30px;
	}

/*Cards*/
#cards-spacing{
	margin-left:auto;
	margin-right:auto;
	position:relative;
	}

.card:hover{
	box-shadow: 0em 0 0.8em black;
	}

#btn1,#btn2,#btn3{
	background:#CC6558;
	color:black;
	border-radius:50px;
	}

#btn1:hover,#btn2:hover,#btn3:hover{
	background:linear-gradient(to bottom right, #CC6558 20%, #000 700%);
	}

/*tabela*/
#tabela{
	margin-top:50px;
	margin-bottom:50px;
	background:#84563C;
	text-align:center;
	}

/*Galeria*/
.img-fluid:hover{
	box-shadow: 0em 0 0.8em black;
	}

/*footer*/
#footer{
	margin-top:40px;
	box-shadow: 0em 0 0.8em black;
	}


/*medias*/
@media screen and (max-width: 768px){
	html {
	  overflow-x:hidden;
	}

	#carousel{
		margin-bottom:55px;
	}

	.card{
	margin-bottom:30px;
	}
}

@media screen and (max-width: 1442px){
	html {
	 overflow-x:hidden;
	}
}
